* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#sliderSection {
    margin-top: 50px;
}
.container {
    width: 90vw;
    max-width: 1180px;
    margin: auto;
}

.slide {
    height: 300px;
    width: 50%;
}
span.navigation_bullet {width: 17px;height: 17px;border: 2px solid #ddd;display: inline-block;border-radius: 50%;cursor: pointer;}

span.navigation_bullet.active {background: #ddd;}
.slider_wrapper {display: flex;gap: 10px;}

.slider_navigations {display: flex;align-items: center;justify-content: space-around;margin-top: 50px;}

span.left_arrow, span.right_arrow {font-size: 30px;cursor: pointer;}